:root {
  --primary: #2e4121;
  --secondary: #405630;
  --font-primary: 'Be Vietnam Pro', sans-serif;
  --font-secondary: 'Julius Sans One', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  font-weight: 300;
  background-color: #E9E9E9;
  color: #000;
  /* min-height: 2000px; */
}

/* Hero Section */
.hero {
  justify-content: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 30%
  );
}
.hero .content {
  text-align: center;
  padding: 1.4rem 7%;
  z-index: 1;
}
.hero .content h1 {
  font-size: 3rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1;
  color: #fff;
}
.hero .content p {
  font-family: var(--font-secondary);
  font-size: 3rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1;
  color: #fff;
}
/* Hero Section End*/

/* About Section */
.about h2,
.product h2,
.location h2, .panduan h2 {
  font-family: var(--font-secondary);
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}
.about {
  padding: 2rem 3% 1.4rem;
}
.about .content h3 span {
  font-family: var(--font-secondary);
  font-weight: 300;
  line-height: 1.4; 
  font-size: 24px ;
}
.about .row {
  display: flex;
  align-items: flex-start;
}
.about .row .about-img img {
  border-radius: 10%;
  width: 100%;
  height: 80%;

}
.about .row .content {
  flex: 1 1 60rem;
  padding: 0 1rem;
}
.about .row .content h3 {
  font-size: 24px;
  margin-bottom: 0.7rem;
}
.about .row .content p {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
  text-indent: 2em; 
}
/* Visi & Misi Section */
.visi-misi {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.visi-misi .visi,
.visi-misi .misi {
  flex: 1;
  padding: 10px;
  /* text-align: justify; */
}
.visi-misi h4 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.visi-misi h3 {
  font-family: var(--font-secondary);
  font-weight: 300;
  line-height: 1.4; 
  font-size: 2rem ;
}
.visi-misi p, ul {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  line-height: 1.6;
}
.visi-misi ul {
  list-style-type: disc;
  margin-left: 20px;
}
/* About Section end */

/* Guide Section */
.panduan .add-to-cart,
.about .add-to-cart {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #198754;
  background-color: transparent;
  border: 1px solid transparent;
  border-color: #198754;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.panduan .add-to-cart:hover,
.about .add-to-cart:hover {
  color: #fff;
  background-color: #198754;
}
.panduan {
  padding: 20px;
}
.panduan h4 {
  text-align: center;
  font-size: 1.5rem;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.grid-item {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #c9c8c8;
}
.grid-item h5 {
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: normal;
}
.grid-item ul {
  padding-left: 20px;
}
.grid-item ul li {
  margin-bottom: 10px;
}
/* Guide Section End*/

/* Location Section */
.location {
  padding: 2rem;
}
.location h2 {
  margin-bottom: 1rem;
}
.location p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
.location .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.map-container {
  flex: 1;
  min-width: 300px;
  margin-right: 1rem;
}
.map {
  width: 100%;
  height: 300px;
  border: 0;
}
.contact-form {
  flex: 1;
  min-width: 300px;
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.contact-form h2 {
  font-weight: normal;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
}
.contact-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: normal;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.contact-form button {
  width: 100%;
  padding: 0.75rem;
  background-color: #198754;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.contact-form button:hover {
  color: #198754;
  background-color: #ddd;
}
/* Location Section End*/

/* Media Queries */
/* Desktop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .about .row {
    flex-wrap: wrap;
    /* flex-direction: column; */
  }
  .about .row .about-img img {
    /* height: 24rem; */
    object-fit: cover;
    object-position: center;
  }
  .about .row .content {
    padding: 0;
    max-width: 100%;
  }
  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row .content p {
    font-size: 1rem;
  }
  .visi-misi {
    flex-direction: column;
  }
  .product p {
    font-size: 1.2rem;
  }
  .panduan-container .row,
  .location .row,
  .map-container,
  .contact-form {
    flex-direction: column;
    margin: 0;
    margin-bottom: 1rem;
  }
  .panduan-img {
    margin: 0;
    margin-bottom: 1rem;
  }
  .location .row .map {
    height: 30rem;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .about .row .content p {
    font-size: 1rem;
  }
}

/* Penyesuaian Grid Container */
@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}